.carri {
  /* background-color: red; */
  height: 30em;
  max-width: 100vw;
}

.swiper {
  width: 100%;
  /* height: 100% !important; */
  /* height: 400px; */
}

.img {
  object-fit: cover;
  /* height: 100%; */
}

.swiper-slide > img {
  display: block;
  /* height: 100%; */
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.mySwiper {
  max-width: 100vw;
}
