.carrusel {
  width: 100%;
  height: 24.2em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper {
  height: 13em;
  width: 100%;
  /* background-color: blue; */
}

.swiper-slide {
  width: 285px;
  height: 340px;
  /* background-color: red; */
}

.swiper-slide img {
  display: block;
  /* width: auto;
  height: auto; */
  object-fit: cover;
}

.desktop {
  width: 98%;
  height: 24.5em;
}

.responsiveOne {
  width: 95%;
  height: auto;
  display: none;
}

.responsiveTwo {
  width: 95%;
  height: auto;
  display: none;
}

.responsiveThree {
  width: 95%;
  height: auto;
  display: none;
}

.responsiveFour {
  width: 95%;
  height: auto;
  display: none;
}

@media (max-width: 1470px) {
  .desktop {
    display: none;
  }

  .responsiveThree {
    display: flex;
    /* background-color: aqua; */
  }
}

@media (max-width: 1200px) {
  .responsiveThree {
    display: none;
  }

  .responsiveFour {
    display: flex;
  }
}

@media (max-width: 900px) {
  .responsiveFour {
    display: none;
  }

  .responsiveTwo {
    display: flex;
    /* background-color: red; */
  }
}

@media (max-width: 612px) {
  .desktop {
    display: none;
  }

  .responsiveTwo {
    display: none;
  }

  .responsiveOne {
    display: flex;
  }

  .title a > p {
    margin-bottom: 0.5em;
  }

  .title div > span {
    /* background-color: green; */
    font-size: 28px;
    transition: 1s;
  }
}
