.detail {
  height: auto;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detail .container {
  height: auto;
  width: 80%;
  max-width: 1450px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 1em 0 2em 0;

  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.detail .container .top {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.containerCarrusel {
  width: 45%;
  height: 40em;
}

.detail .info {
  width: 55%;
  height: 40em;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #ffff;
}

.detail .info .one {
  width: 90%;
  height: auto;

  margin-top: 1em;

  display: flex;
  justify-content: space-between;

  font-family: "Sarabun", sans-serif;
  font-size: 16px;
  color: #cdcdcc;
}

.one .tags {
  width: auto;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0.3em;

  color: #101010;
  font-family: "Sarabun", sans-serif;
  font-size: 16px;
}

.info .title {
  width: 90%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.info .title > h1 {
  color: #101010;

  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.info .sizes {
  width: 90%;
  margin-top: 0.5em;
}

.info .sizes > div {
  height: auto;
  width: 98%;

  padding: 0.5em;
  border: 1px solid #101010d8;
  border-radius: 3px;

  display: flex;
  align-items: start;
  flex-direction: column;

  background-color: #f9f9f9;
}

.info .sizes div > p {
  margin-bottom: 0.5em;
}

.info .sizes div > .sizesContainer {
  width: 100%;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  gap: 0.5em;
}

.info .sizes div > span {
  padding: 0.2em 0.5em;
  border: 1px solid #101010;

  font-size: 18px;
  font-family: "Sarabun", sans-serif;
}

.containerColors {
  min-height: 3em;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}
.optionColor {
  width: 40px;
  height: 40px;

  border: 5px solid rgb(238, 237, 237);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  margin-top: 1em;
}

.info .sizes div .images > img {
  width: 80px;
  height: 80px;

  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  object-fit: cover;
}

/* --------------------- */

.bottom {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.bottom .two {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.open {
  display: flex;
  align-items: end;
  flex-direction: column;
}
.bottom .two .open > .open {
  width: 100%;
  height: 5em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;

  cursor: pointer;
  border-radius: 0 0 10px 10px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.bottom .two .open > .closed {
  width: 100%;
  height: 5em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;

  cursor: pointer;
  border-radius: 0 0 0 10px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.bottom .two .open button > span {
  margin-left: 1em;
}

.bottom .two .open > p {
  height: auto;
  min-height: 3em;
  width: 94%;

  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 0 0 10px 10px;

  font-family: "Barlow", sans-serif;
  font-size: 16px;

  color: #ffd904;
  background-color: #101010;
}

.containerCards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 1em;
}

@media (max-width: 1200px) {
  .detail .container {
    width: 90%;
  }
  .containerCarrusel {
    width: 55%;
  }
  .info {
    width: 45%;
  }
  .one {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 950px) {
  .detail .info .one {
    margin-top: 1em;
  }

  .info .title {
    margin-top: 0.5em;
  }
  .detail .container {
    margin: 0;
    width: 100%;
  }

  .detail .container .top {
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .containerCarrusel {
    width: 100%;
    height: auto;
  }

  .detail .info {
    width: 100%;
    height: auto;
    padding-bottom: 2em;

    /* background-color: red; */
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 0;
  }

  .bottom .two {
    width: 95%;
  }
}

@media (max-width: 500px) {
  .bottom .two .open > .closed,
  .bottom .two .open > .open {
    height: 3em;
  }

  .bottom .two .open > p {
    width: 90%;
  }
}
