.searchBar > form {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: red; */
}

.searchBar form > input {
  height: 2.4em;
  width: 15em;

  transition: 1s;
  padding-left: 10px;
  border: none;
  border-radius: 20px 0 0 20px;
  /* border: 0 0 10px 0; */
  outline: none;
  font-family: "Barlow", sans-serif;
  font-size: 16px;

  color: #ffd904;
  background-color: rgba(128, 128, 128, 0.301);
}

.searchBar form > .button {
  height: 2.4em;
  width: 2em;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 5px 0 0;
  border-radius: 0 20px 20px 0;
  cursor: pointer;

  background-color: rgba(128, 128, 128, 0.301);
}

.containerCards {
  display: none;
  width: 100%;

  display: flex;
  flex-direction: column;
}

@media (max-width: 730px) {
  .searchBar > form {
    margin-top: 1em;
    display: flex;
    justify-content: center;
  }

  .searchBar {
    width: 100%;
  }

  .containerCards {
    display: flex;
  }

  .searchBar form > input {
    transition: 0.1s;
    height: 2.3em;
  }

  .searchBar form > .button {
    height: 2.3em;
  }
}

@media (max-width: 391px) {
  .searchBar form > input {
    transition: 1s;
    width: 13em;
  }
}

@media (max-width: 290px) {
  .searchBar form > input {
    transition: 1s;
    width: 10em;
  }
}
