.searchBar > form {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: red; */
}

.searchBar form > input {
  height: 2.3em;
  width: 15em;

  padding-left: 10px;
  border: none;
  border-radius: 20px 0 0 20px;
  /* border: 0 0 10px 0; */
  outline: none;
  font-family: "Barlow", sans-serif;
  font-size: 16px;

  color: #ffd904;
  background-color: rgba(128, 128, 128, 0.301);
}

.searchBar form > button {
  height: 2.7em;
  width: 2em;

  border: none;
  border-radius: 0 20px 20px 0;
  padding: 3px 30px 0 0;
  cursor: pointer;

  background-color: rgba(128, 128, 128, 0.301);
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Sarabun', sans-serif;
 */
