.card {
  background-color: #101010;
  width: 285px;
  height: 340px;

  display: flex;
  justify-content: center;
  align-items: start;

  margin: 2px;
}

.card > a {
  text-decoration: none;
}

.card a > img {
  width: 285px;
  height: 275px;

  object-fit: cover;
}

.card .info {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: column;

  padding-left: 5px;
  text-align: start;

  color: #f5f5f5;
  font-family: "Sarabun", sans-serif;
  font-size: 15px;
  /* background-color: green; */
}

.starts {
  /* margin-top: -2px; */
}
