.home {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.homeTop {
  max-width: 1508px;

  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}

.photo {
  width: 100%;
  height: 23em;
}

.contentCarr {
  animation-name: showtop;
  animation-duration: 2s;
}

.title {
  margin: 1em 1em 0 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.title > div {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;
  color: #101010;
}
.title > a {
  color: #101010;
}

/* ----- */
@media (max-width: 1100px) {
  .contentCarr {
    animation-name: show22;
    animation-duration: 2s;
  }
}

@media (max-width: 900px) {
  .contentCarr {
    animation-name: show18;
    animation-duration: 2s;
  }
}

@media (max-width: 720px) {
  .contentCarr {
    animation-name: show15;
    animation-duration: 2s;
  }
}

@media (max-width: 612px) {
  .contentCarr {
    animation-name: show20;
    animation-duration: 2s;
  }
}

@media (max-width: 425px) {
  .contentCarr {
    animation-name: show25;
    animation-duration: 2s;
  }
}

@media (max-width: 450px) {
  .contentCarr {
    animation-name: show30;
    animation-duration: 2s;
  }
}
@media (max-width: 300px) {
  .contentCarr {
    animation-name: show25;
    animation-duration: 2s;
  }
}

/* ----- */
@media (max-width: 420px) {
  .contentCarr {
    animation-name: show24;
    animation-duration: 2s;
  }
}

@keyframes show30 {
  from {
    height: 0;
  }
  to {
    margin-top: 0em;
    height: 30em;
  }
}

@keyframes showtop {
  from {
    color: transparent;
    background-color: transparent;
    height: 0;
  }
  to {
    margin-top: 0em;
    height: 26em;
  }
}

@keyframes show25 {
  from {
    height: 0;
  }
  to {
    margin-top: 0em;
    height: 25em;
  }
}

@keyframes show24 {
  from {
    height: 0;
  }
  to {
    margin-top: 0em;
    height: 25em;
  }
}

@keyframes show22 {
  from {
    height: 0;
  }
  to {
    margin-top: 0em;
    height: 22em;
  }
}

@keyframes show20 {
  from {
    height: 0;
  }
  to {
    margin-top: 0em;
    height: 20em;
  }
}

@keyframes show18 {
  from {
    height: 0;
  }
  to {
    margin-top: 0em;
    height: 18em;
  }
}

@keyframes show15 {
  from {
    height: 0;
  }
  to {
    margin-top: 0em;
    height: 15em;
  }
}
