.iam {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  max-width: 1508px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preTitles {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 600;

  margin: 1em 0 0.2em 0;
}

.center .titles {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.center .titles > img {
  width: 130px;
  height: 130px;
  object-fit: cover;

  border-radius: 50%;
  margin: 0.5em 0.5em 0 0;
  background-color: #101010;
}

.center .titles > h1 {
  font-size: 42px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;

  color: #101010;
  text-decoration: underline #ffd904 3px;
}

.center > section {
  width: 85%;

  text-align: center;
  margin-top: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center section > p {
  width: 90%;

  margin-bottom: 1em;

  color: #101010;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: underline #ffd904 1px;
}

.containergifs {
  width: 90%;
  display: flex;
  flex-direction: row;
}

.center section .containergifs > img {
  width: 33%;

  margin: 0.5em 0.1em;
  object-fit: cover;
}

/* <------------------------> */

.containerRed {
  width: 100%;
  height: auto;

  margin: 1em 0;
  padding: 1em 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  display: none;
}

.containerRed > a {
  text-decoration: none;
}

.containerRed a div > img {
  border-radius: 5px;
  width: 100%;
  height: 500px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* <------------------------> */

.cards {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px 50px;
}

.card {
  background-color: transparent;
  width: 250px;
  height: 400px;
  perspective: 1000px;
  font-family: sans-serif;
  margin: 1em 0;
}

.title {
  text-align: center;
  margin: 0;

  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 600;

  position: relative;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 0.5em;
  /* border: 1px solid #101010; */
}

.card:hover .inner {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front > img {
  width: 250px;
  height: 400px;

  border-radius: 0.5em;
}

.back {
  transform: rotateY(180deg);
}

.back > img {
  width: 250px;
  height: 400px;

  position: absolute;
  object-fit: cover;
  border-radius: 0.4em;
  filter: blur(8px);
}

.back > a {
  text-decoration: none;
}

.fb {
  color: #101010;
}

.ig {
  color: #f5f5f5;
}

.whatsapp {
  width: 100%;
  max-width: 55em;
  min-width: 12em;
}

.whatsapp > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.whatsapp > a {
  padding: 1em 0;
  margin: 0.5em 0 1em 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  text-decoration: none;

  color: #101010;
  background-color: #25d366;
}

@media (max-width: 865px) {
  .containerRed {
    display: flex;
  }
  .cards {
    display: none;
  }
  .center section > img {
    width: 90%;
    height: 15em;
  }
}

@media (max-width: 600px) {
  .center .titles > img {
    width: 80px;
    height: 80px;
  }
  .none {
    display: none;
  }
  .center section .containergifs > img {
    width: 50%;
  }
  .center .titles {
    margin-top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .center .titles > h1 {
    font-size: 32px;
  }
}

@media (max-width: 390px) {
  .containerRed a div > img {
    width: 100%;
    height: auto;
  }
  .center section > img {
    width: 100%;
    height: 10em;
  }
  .center .titles > h1 {
    font-size: 26px;
  }
  .whatsapp > a,
  .whatsapp > p {
    font-size: 15px;
  }
  .preTitles {
    font-size: 22px;
  }
}
