.pages {
  width: 100%;
  max-width: 70em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
}

.pages > button {
  padding: 8px 12px;
  margin: 0 8px 5px 0;
  border: none;
  cursor: pointer;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 17px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.pages button:active {
  transform: translateY(2px);
}

.pages > span {
  padding: 8px 12px;
  margin: 0 8px 5px 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 17px;

  background-color: #ffd904;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
